body {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

#custom-nav {
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom-width: .5px;
    border-bottom-color: white;
    opacity: 1;
    background-image: linear-gradient(to left,#cc2b5e,#753a88);
    box-shadow: none;
    z-index: 999;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: background .5s ease-in-out, opacity .5s ease;
    -moz-transition: background .5s ease-in-out, opacity .5s ease;
    transition: background .5s ease-in-out, opacity .5s ease;
}

    #custom-nav.affix {
        top: 0;
        min-width: 100%;
        background-color: #f8f8f8;
        padding-top: .1em;
        padding-bottom: .1em;
        opacity: .9;
        -webkit-transition: background .5s ease-in-out, opacity .5s ease, padding .8s;
        -moz-transition: background .5s ease-in-out, opacity .5s ease, padding .8s;
        -webkit-transition: padding-top .5s ease, padding-bottom .5s ease;
        -moz-transition: padding-top .5s ease, padding-bottom .5s ease;
        transition: background .5s ease-in-out, opacity .5s ease, padding-top .5s ease, padding-top .5s ease, padding-bottom .5s ease;
    }

    #custom-nav > div > div.navbar-header.p-r-5 > button {
        border-color: white;
    }

#notification {
    transition: opacity 0.5s;
    opacity: 1;
}

    #notification.hide {
        opacity: 0;
        pointer-events: none;
    }

.icon-bar {
    background-color: white;
}

.main-nav li .glyphicon {
    margin-right: 10px;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#custom-nav a.navbar-brand {
    color: white;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.gradient-background {
    background-image: linear-gradient(to left,#cc2b5e,#753a88);
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
}

.background {
    background-image: url('../images/banner.jpg') !important;
    background-size: contain;
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.center {
    display: block;
    margin: 0 auto;
}

.bearValley {
    background-image: url("../images/BearValleyLodge.jpg");
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
    top: 4em;
}

.yosemite {
    background-image: url("../images/yosemite.jpg");
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
    top: 4em;
}

.yosemite-card {
    position: relative;
    top: -40em;
}

.lodging-down {
    top: 8%;
}

.bearValley-card {
    position: relative;
    top: 8em;
}

.navbar-color {
    background-color: orange;
}

.bg-white {
    background-color: white;
}

.lite-opacity {
    background-color: rgba(255, 255, 255, 0.85);
}

.center-list {
    display: table;
    margin: auto;
}

.rounded {
    border-radius: 1%;
}

#about {
    width: 60vw;
}

.profile-image {
    position: relative;
}

.align-bottom {
    position: absolute;
    bottom: 15%;
    left: 15%;
}

#work {
    width: 60vw;
}

#questions {
    width: 60vw;
}

.lg-vertical-center {
    display: flex;
    align-items: center;
}

.no-left-border {
    border-left: none;
}

.shadow {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

.card {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    min-height: 200px;
    overflow: hidden;
    width: 330px;
    z-index: 1;
    position: relative;
    background: #fff;
    border-radius: 2px;
    box-sizing: border-box;
}

/*=========================
    Home
=========================*/

.negative-m {
    margin-bottom: -1.2%;
}

.pos-abs {
    position: absolute;
    top: 0;
}

.rel-chicago {
    top: 20em;
    right: 13em;
}


.rel-move {
    top: 30em;
    left: 7em;
}


.rel-san-diego {
    top: 35em;
    right: 7em;
}

.rel-san-francisco {
    top: 65em;
    left: 23em;
}

@media all and (max-width: 1300px) {
    .rel-chicago {
        top: 10em;
        right: 9em;
    }

    .rel-move {
        top: 14em;
        left: 7em;
    }

    .rel-san-diego {
        top: 21em;
        right: 1em;
    }

    .rel-san-francisco {
        top: 38em;
        left: 19em;
    }
}

@media all and (max-width: 1450px) {
    .rel-chicago {
        top: 10em;
        right: 9em;
    }

    .rel-move {
        top: 18em;
        left: 7em;
    }

    .rel-san-diego {
        top: 21em;
        right: 1em;
    }

    .rel-san-francisco {
        top: 46em;
        left: 23em;
    }
}

@media all and (max-width: 1650px) {
    .rel-chicago {
        top: 10em;
        right: 9em;
    }

    .rel-move {
        top: 18em;
        left: 7em;
    }

    .rel-san-diego {
        top: 21em;
        right: 1em;
    }

    .rel-san-francisco {
        top: 46em;
        left: 23em;
    }
}


.move-up {
    top: -16em;
}

.adventures {
    background-image: url("../images/Adventures.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.chicago {
    background-image: url("../images/Chicago.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.tile {
    float: left;
}

.pos-absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.pos-relative {
    position: relative;
}

.color-white {
    color: #ffffff;
}

.text-shadow {
    text-shadow: .25px .25px .5px #333;
}

.b-border {
    border-bottom: .5px solid #cccccc;
}

.landing {
    padding-top: 17%;
}

.story {
    padding-top: 42%;
}

.line-thru {
    border-bottom: 1px solid #ffffff;
    height: 0;
}

.img-thru {
    position: relative;
    top: -25px;
}

.btn-round {
    border-radius: 22.5px;
}

.icon-circle {
    display: block;
    width: 9em;
    height: 9em;
    line-height: 9em;
    margin: 0 auto;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    transition: background 0.5s;
}

.circle-number {
    position: relative;
    left: 60px;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 20px;
}


/*----- width -----*/
/*Percentage*/
.p-w-100 {
    width: 100%;
}

.p-w-80 {
    width: 80%;
}

.p-w-60 {
    width: 60%;
}

.p-w-50 {
    width: 50%;
}

.p-w-40 {
    width: 40%;
}

.p-w-30 {
    width: 30%;
}

/*View Width*/
.v-w-100 {
    width: 100vw;
}

.v-w-80 {
    width: 80vw;
}

.v-w-60 {
    width: 60vw;
}

.v-w-50 {
    width: 50vw;
}

.v-w-40 {
    width: 40vw;
}

.v-w-30 {
    width: 30vw;
}

.max-w-225 {
    max-width: 225px;
}

.max-w-245 {
    max-width: 245px;
}

.max-w-250 {
    max-width: 250px;
}

.max-w-300 {
    max-width: 300px;
}

/*----height----*/
.v-h-25 {
    height: 25vh;
}

.v-h-30 {
    height: 30vh;
}

.v-h-40 {
    height: 40vh;
}

.v-h-50 {
    height: 50vh;
}

.v-h-60 {
    height: 60vh;
}

.p-h-25 {
    height: 25%;
}

.p-h-100 {
    height: 100%;
}

.max-h-725 {
    max-height: 725px;
}

/* ---- padding ---- */
.p-0 {
    padding: 0;
}

.pad-header {
    padding-top: 5%;
}


/* ---- em ---- */
.p-05-em {
    padding: .5em;
}

.p-1-em {
    padding: 1em;
}

.p-1-5-em {
    padding: 1.5em;
}

.p-2-em {
    padding: 2em;
}

.p-3-em {
    padding: 3em;
}

/* top */
.p-t-05-em {
    padding-top: 0.5em;
}

.p-t-1-em {
    padding-top: 1em;
}

.p-t-2-em {
    padding-top: 2em;
}

.p-t-3-em {
    padding-top: 3em;
}

.p-t-4-em {
    padding-top: 4em;
}

.p-t-5-em {
    padding-top: 5em;
}

.p-t-15-em {
    padding-top: 1.5em;
}

/* bottom */
.p-b-025-em {
    padding-bottom: 0.25em;
}

.p-b-05-em {
    padding-bottom: 0.5em;
}

.p-b-1-em {
    padding-bottom: 1em;
}

.p-b-125-em {
    padding-bottom: 1.25em;
}

.p-b-15-em {
    padding-bottom: 1.5em;
}

.p-b-2-em {
    padding-bottom: 2em;
}

.p-b-3-em {
    padding-bottom: 3em;
}

/* left */

.p-l-005-em {
    padding-left: .05em;
}

.p-l-01-em {
    padding-left: 0.1em;
}

.p-l-015-em {
    padding-left: 0.15em;
}

.p-l-025-em {
    padding-left: 0.25em;
}

.p-l-03-em {
    padding-left: 0.3em;
}

.p-l-1-em {
    padding-left: 1em;
}

/* right */
.p-r-005-em {
    padding-right: .05em;
}

.p-r-01-em {
    padding-right: 0.1em;
}

.p-r-015-em {
    padding-right: 0.15em;
}

.p-r-025-em {
    padding-right: 0.25em;
}

.p-r-03-em {
    padding-right: 0.3em;
}

.p-r-1-em {
    padding-right: 1em;
}


/* top */

.p-t-0 {
    padding-top: 0;
}

.p-t-0 {
    padding-top: 0;
}

.p-t-2 {
    padding-top: 2px;
}

.p-t-3 {
    padding-top: 3px;
}

.p-t-5 {
    padding-top: 5px;
}

.p-t-10 {
    padding-top: 10px;
}

.p-t-15 {
    padding-top: 15px;
}

.p-t-20 {
    padding-top: 20px;
}

.p-t-25 {
    padding-top: 25px;
}

.p-t-30 {
    padding-top: 30px;
}

.p-t-35 {
    padding-top: 35px;
}

.p-t-40 {
    padding-top: 40px;
}

/* bottom */
.p-b-0 {
    padding-bottom: 0;
}

.p-b-5 {
    padding-bottom: 5px;
}

.p-b-10 {
    padding-bottom: 10px;
}

.p-b-15 {
    padding-bottom: 15px;
}

.p-b-20 {
    padding-bottom: 20px;
}

.p-b-25 {
    padding-bottom: 25px;
}

.p-b-30 {
    padding-bottom: 30px;
}

.p-b-35 {
    padding-bottom: 35px;
}

.p-b-40 {
    padding-bottom: 40px;
}

/* ---- padding-left ---- */

.p-l-0 {
    padding-left: 0;
}

.p-l-5 {
    padding-left: 5px;
}

.p-l-10 {
    padding-left: 10px;
}

.p-l-15 {
    padding-left: 15px;
}

.p-l-20 {
    padding-left: 20px;
}

.p-l-30 {
    padding-left: 30px;
}
/* ---- padding-right ---- */
.p-r-0 {
    padding-right: 0;
}

.p-r-5 {
    padding-right: 5px;
}

.p-r-10 {
    padding-right: 10px;
}

.p-r-15 {
    padding-right: 15px;
}

.p-r-20 {
    padding-right: 20px;
}

.p-r-30 {
    padding-right: 30px;
}

/* ---- margin --- */
.m-0 {
    margin: 0;
}

.m-auto-inline {
    display: inline-block;
    float: none;
    margin: 0 auto;
}

/* ---- em ---- */
.m-b-05-em {
    margin-bottom: .5em;
}

.m-b-1-em {
    margin-bottom: 1em;
}

.m-b-2-em {
    margin-bottom: 2em;
}

.m-b-3-em {
    margin-bottom: 3em;
}

.m-b-35-em {
    margin-bottom: 3.5em;
}

.m-b-4-em {
    margin-bottom: 4em;
}

.m-b-5-em {
    margin-bottom: 5em;
}

/* --top em -- */
.m-t-05-em {
    margin-top: .5em;
}

.m-t-1-em {
    margin-top: 1em;
}

.m-t-2-em {
    margin-top: 2em;
}

/*---left--*/
.m-l-0 {
    margin-left: 0;
}

.m-l-5 {
    margin-left: 5px;
}

.m-l-10 {
    margin-left: 10px;
}

.m-l-15 {
    margin-left: 15px;
}

.m-l-20 {
    margin-left: 20px;
}

.m-l-25 {
    margin-left: 25px;
}

.m-l-30 {
    margin-left: 30px;
}

.m-r-0 {
    margin-right: 0;
}

.m-r-5 {
    margin-right: 5px;
}

.m-r-10 {
    margin-right: 10px;
}

.m-r-15 {
    margin-right: 15px;
}

.m-r-20 {
    margin-right: 20px;
}

.m-r-25 {
    margin-right: 25px;
}

.m-r-30 {
    margin-right: 30px;
}

/* top */
.m-t--80 {
    margin-top: -80px;
}

.m-t--60 {
    margin-top: -60px;
}

.m-t--50 {
    margin-top: -50px;
}

.m-t--40 {
    margin-top: -40px;
}

.m-t--30 {
    margin-top: -30px;
}

.m-t--20 {
    margin-top: -20px;
}

.m-t--10 {
    margin-top: -10px;
}

.m-t-0 {
    margin-top: 0;
}

.m-t-5 {
    margin-top: 5px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-15 {
    margin-top: 15px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-t-25 {
    margin-top: 25px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-t-35 {
    margin-top: 35px;
}

.m-t-40 {
    margin-top: 40px;
}

.m-t-50 {
    margin-top: 50px;
}


/* bottom */
.m-b-0 {
    margin-bottom: 0;
}

.m-b-5 {
    margin-bottom: 5px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-b-25 {
    margin-bottom: 25px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.m-b-35 {
    margin-bottom: 35px;
}

.m-b-40 {
    margin-bottom: 40px;
}

.m-b-50 {
    margin-bottom: 50px;
}

/* responsive */
@media only screen and (max-width : 1250px) {
    .move-up {
        top: -12em;
    }

    .home-pad-header{
        padding-top:5%;
    }

    .rel-chicago {
        display: none;
    }

    .rel-move {
        display: none;
    }

    .rel-san-diego {
        display:none;
    }

    .rel-san-francisco {
        display: none;
    }
}

/* responsive */
@media only screen and (max-width : 768px) {
    .xs-pad-bottom {
        padding-bottom: 75px;
    }
    .move-up {
        top: -12em;
    }

    .home-pad-header {
        padding-top: 5%;
    }

    #rc-imageselect, .g-recaptcha {
        transform: scale(0.85);
        -webkit-transform: scale(0.85);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .move-up {
        top: 0em;
    }


    .md-t-border {
        border-top: .5px solid #cccccc;
    }

    .xs-t-border {
        border-top: none;
    }

    .main-nav .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }

    .main-nav .navbar-collapse {
        padding: 0px;
    }

    .main-nav .navbar li {
        font-size: 15px;
        margin: 6px;
    }

        .main-nav .navbar li a {
            padding: 10px 16px;
            border-radius: 4px;
        }

    .main-nav .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #rc-imageselect, .g-recaptcha {
        transform: scale(0.85);
        -webkit-transform: scale(0.85);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }

    .background {
        background-image: url('../images/mobileBanner.jpg') !important;
        background-size: contain;
        background-position-x: center;
        background-position-y: top;
        background-repeat: no-repeat;
    }

    .adventures {
        background-image: url("../images/mobileAdventures.png");
        background-size: cover;
        padding-bottom: 4em;
        padding-right: 3em;
    }

    .chicago {
        background-image: url("../images/mobileStory.png");
        background-size: contain;
        padding-bottom: 3em;
        padding-right: 7em;
    }

    .bearValley {
        background-image: url("../images/mobileBearValleyLodge.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
    }

    .yosemite {
        background-image: url("../images/mobileYosemite.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
    }

    .yosemite-card {
        position: relative;
        top: -17em;
    }

    .move-up {
        top: -3em;
    }

    .lodging-down {
        top: 6%;
    }

    .xs-p-b-15 {
        padding-bottom: 15px;
    }
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }

    .md-t-border {
        border-top: .5px solid #cccccc;
    }

    .xs-t-border {
        border-top: .5px solid #cccccc;
    }

    xs-no-b-border {
        border-bottom: none;
    }
}

